
<nav class="navbar navbar-inverse" style="margin:0;border:0">
    <div class="Container-fluid nav nav-tabs" style="padding:0 35px;">
        <ul class="nav navbar-nav">
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Product">PRODUCT</a>
            </li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#">CONTACT</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:20px;overflow:hidden">
            <li><h3 style="color:#fff;margin:0;margin-top:10px;"><i class="fa fa-phone" aria-hidden="true"></i> +841638004227</h3></li>          
        </ul>
    </div>
</nav>
